<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yes.product.mapper.ProductsMapper">
    <update id="logicDeleteProducts">
        update products
        set is_delete = 1
        where id = #{id}
    </update>
    <select id="pageProducts" resultType="com.yes.common.domain.entity.Products">
        select  *
        from products
        <where>
            is_delete = 0
            <if test="isHot!=null">
               and is_hot = #{isHot}
            </if>
        </where>
        limit #{pageNum},#{pageSize}
    </select>
    <select id="productsAll" resultType="com.yes.common.domain.entity.Products">
        select  *
        from products
        <where>
            is_delete = 0
            <if test="isHot!=null">
             and   is_hot = #{isHot}
            </if>
        </where>
    </select>
</mapper>
